.poster-info--editing
{
	margin-top : calc(var(--unit) * 4);
}

.poster-info__name
{
	margin-top    : 0;
	margin-bottom : 0;
}

@include s
{
	.poster-info--editing
	{
		margin-top : calc(var(--unit) * 3);
	}
}

@include l
{
	.poster-info--editing
	{
		margin-top : calc(var(--unit) * 3);
	}
}