:root
{
	--content-column-width       : calc(var(--unit) * 135);
	--poster-profile-tabs-height : calc(var(--unit) * 8);
}

// Could be achieved using CSS native variables ("CSS custom properties")
// if all major browsers supported that CSS feature.
// http://caniuse.com/#search=css%20var
@mixin poster_profile_edit_buttons_side_padding($value)
{
	.poster-profile__background-color,
	.poster-profile__change-banner
	{
		padding-left  : $value;
		padding-right : $value;
	}

	.poster-profile__background-color-picker
	{
		margin-left : $value;
	}

	.poster-profile__background-color-toggler
	{
		margin-right : $value;
	}
}

// Could be achieved using CSS native variables ("CSS custom properties")
// if all major browsers supported that CSS feature.
// http://caniuse.com/#search=css%20var
@mixin poster_profile_edit_actions_height($value)
{
	.poster-profile__background-color,
	.poster-profile__edit-actions,
	.poster-profile__change-banner
	{
		height : $value;
	}

	.poster-profile__edit-actions
	{
		margin-top : calc(#{$value} * -1);
	}
}

.poster-profile
{
	.rrui__text-input__input
	{
		width: 100%;
	}
}

.poster-profile__banner
{
	position : absolute;
	z-index  : 1;
	height   : 100%;

	.picture__image
	{
		height : 100%;
	}
}

.poster-profile__change-banner
{
	z-index     : 2;
	display     : flex;
	align-items : center;

	background-color           : var(--white-color);
	border-bottom-right-radius : var(--border-radius);

	color : var(--base-color-darker);

	align-self : flex-start;

	&:active
	{
		color : var(--base-color);
	}

	.upload-picture__indicator
	{
		padding : var(--unit);
		color   : var(--black-color);
	}

	.upload-picture__change-overlay
	{
		background-color : transparent;
	}

	.upload-picture__change-overlay--uploading
	{
		background-color : var(--white-color);
	}
}

.poster-profile__background-picture-container
{
	display        : flex;
	align-items    : center;
	flex-direction : column;

	position : relative;
	height   : 25vw;
	border-bottom : var(--border);
}

.poster-profile__background-picture--color
{
	.upload-picture__change-overlay,
	.picture
	{
		display : none !important;
	}
}

.poster-profile__background-picture
{
	position : absolute;
	left     : 0;
	top      : 0;
	right    : 0;
	bottom   : 0;

	background : var(--white-color);

	.picture--pattern
	{
		// Stretches the pattern vertically
		background-size : auto 100%;
	}
}

.poster-profile__background-color
{
	position               : absolute;
	right                  : 0;
	top                    : 0;
	display                : flex;
	align-items            : center;
	background-color       : var(--white-color);
	border-bottom-left-radius : var(--border-radius);
}

@include poster_profile_edit_buttons_side_padding(var(--unit));

.poster-profile__picture
{
	position : absolute;
	// bottom   : calc(var(--unit) * -3);
	z-index  : 1;

	border-radius : var(--border-radius);

	.upload-picture__change-label
	{
		font-size : 0.75rem;
	}
}

@include set_profile_picture_size(calc(var(--unit) * 14));
@include poster_profile_edit_actions_height(calc(var(--unit) * 6));

.poster-profile__picture
{
	border-radius: var(--border-radius);
}

.poster-profile__background-color,
.poster-profile__edit-actions,
.poster-profile__change-banner
{
	border : var(--border);
}

.poster-profile__background-color
{
	border-right : none;
}

.poster-profile__edit-actions
{
	position       : absolute;
	padding-left   : calc(var(--unit) * 2);
	padding-right  : calc(var(--unit) * 2);
	background-color        : var(--white-color);
	border-top-right-radius : var(--border-radius);

	.card__action
	{
		top    : 0;
		height : 100%;

		.rrui__button__button
		{
			height : 100%;
		}
	}
}

.poster-profile__edit-actions.card__actions
{
	white-space: nowrap;

	.card__action
	{
		display  : inline-block;

		&:not(:first-child)
		{
			margin-left: 1em;
		}
	}
}

.poster-profile__actions
{
	margin-top: calc(var(--unit) * 4);
}

.poster-profile__action
{
	.rrui__button__contents
	{
		display     : flex;
		align-items : center;
	}
}

.poster-profile__action
{
	height : calc(var(--unit) * 5);
}

.poster-profile__action-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);
	fill          : var(--base-color-darker);
	transition    : var(--button-icon-transition);
}

.poster-profile__action:active
{
	.poster-profile__action-icon
	{
		fill : var(--base-color);
	}
}

.poster-profile__body
{
	display        : flex;
	flex-direction : column;
}

.poster-profile__content
{
	position : relative;

	// https://www.mobila.name/post/55c3b664d1e6e/
	max-width    : var(--content-column-width);
	margin-left  : auto;
	margin-right : auto;
}

.poster-profile__right-aside
{
	display : none;
}

.poster-profile__tabs-container
{
	text-align    : center;
}

.poster-profile__tabs
{
	display          : inline-block;
	height           : var(--poster-profile-tabs-height);
	margin-left      : auto;
	margin-right     : auto;
	padding-left     : calc(var(--unit) * 1.5);
	padding-right    : calc(var(--unit) * 1.5);
	border           : var(--border);
	border-radius    : var(--border-radius);
	white-space      : nowrap;
	background-color : var(--white-color);
}

.poster-profile__tab
{
	display : inline-block;
	height  : 100%;
}

.poster-profile__tab-button
{
	height      : 100%;
	display     : inline-flex;
	align-items : center;

	padding-left  : calc(var(--unit) * 1.5);
	padding-right : calc(var(--unit) * 1.5);

	color : var(--black-color-light);
}

.poster-profile__tab
{
	border-bottom : calc(var(--unit) / 2) solid transparent;

	&:first-child
	{
		&, .poster-profile__tab-button
		{
			border-top-left-radius    : inherit;
			border-bottom-left-radius : inherit;
		}
	}

	&:last-child
	{
		&, .poster-profile__tab-button
		{
			border-top-right-radius    : inherit;
			border-bottom-right-radius : inherit;
		}
	}
}

.poster-profile__tab--selected
{
	border-color : var(--base-color);

	.poster-profile__tab-button
	{
		cursor : default;
	}
}

@include m
{
	@include set_profile_picture_size(calc(var(--unit) * 18));

	.card__actions
	{
		.card__action
		{
			display: block;

			&:not(:first-child)
			{
				margin-left: 0;
			}
		}
	}

	.poster-profile__picture
	{
		.upload-picture__change-label
		{
			font-size: 1rem;
		}
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 30);
	}

	.poster-profile__change-banner
	{
		border-bottom-left-radius  : var(--border-radius);
		align-self : auto;
	}

	.poster-profile__background-color
	{
		top                       : auto;
		bottom                    : -1px;
		border-bottom-left-radius : 0;
		border-top-left-radius    : var(--border-radius);
	}

	@include poster_profile_edit_buttons_side_padding(calc(var(--unit) * 2));
	@include poster_profile_edit_actions_height(calc(var(--unit) * 8));
}

@include l
{
	.poster-profile__body
	{
		flex-direction : row;
	}

	.poster-profile__info
	{
		flex-basis  : calc(var(--unit) * 40);
		flex-grow   : 1;
		flex-shrink : 1;
	}

	.poster-profile__content
	{
		max-width : none;
		// https://www.mobila.name/post/55c3b664d1e6e/
		flex-basis  : var(--content-column-width);
		flex-grow   : 0;
		flex-shrink : 1;
	}

	.poster-profile__right-aside
	{
		display     : block;
		flex-basis  : auto;
		flex-grow   : 3;
		flex-shrink : 1;
	}

	.poster-profile__tabs-container
	{
		margin-bottom : calc(var(--poster-profile-tabs-height) * -1);
	}

	.poster-profile__tabs
	{
		position : relative;
		top      : calc(var(--poster-profile-tabs-height) * -1);

		border-bottom-left-radius  : 0;
		border-bottom-right-radius : 0;
	}

	.poster-profile
	{
		.rrui__text-input__input
		{
			width: calc(var(--unit) * 50);
		}
	}

	.poster-profile--editing
	{
		.poster-profile__tabs-container
		{
			display: none;
		}
	}

	.card__actions
	{
		.card__action
		{
			// overwrites M size settings
			display: inline-block;

			&:not(:first-child)
			{
				margin-left: calc(var(--unit) * 3);
			}
		}
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 35);
	}
}

@include xl
{
	@include set_profile_picture_size(calc(var(--unit) * 20));

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 40);
	}

	.poster-profile__info,
	.poster-profile__right-aside
	{
		flex-basis : 0;
		flex-grow  : 1;
	}
}