.poster-profile__background-picture-container
{
	position : relative;
	height   : 25vw;
}

.poster-profile__background-picture
{
	position : absolute;
	left     : 0;
	top      : 0;
	right    : 0;
	bottom   : 0;

	background : var(--white-color);
}

.poster-profile__background-color
{
	position               : absolute;
	right                  : 0;
	bottom                 : 0;
	display                : flex;
	align-items            : center;
	height                 : calc(var(--unit) * 6);
	padding-left           : var(--unit);
	padding-right          : var(--unit);
	background-color       : var(--white-color);
	border-top-left-radius : var(--border-radius);
}

.poster-profile__background-color-picker
{
	margin-left : var(--unit);
}

.poster-profile__picture
{
	position : absolute;
	bottom   : calc(var(--unit) * -5);
	left     : calc(var(--unit) * 5);
	z-index  : 1;

	border-radius: var(--border-radius);

	.upload-picture__change-label
	{
		font-size: 0.75rem;
	}
}

.poster-profile__picture
{
	width      : calc(var(--unit) * 14);
	height     : calc(var(--unit) * 14);
	min-width  : calc(var(--unit) * 14);
	min-height : calc(var(--unit) * 14);

	border-radius: var(--border-radius);
}

.poster-profile__edit-actions
{
	position : absolute;
	left     : calc(var(--unit) * 23.75);
	top      : calc(var(--unit) * -8.25);
	padding-left  : calc(var(--unit) * 2);
	padding-right : calc(var(--unit) * 2);
	padding-top    : var(--unit);
	padding-bottom : var(--unit);
	background-color : var(--white-color);
	border-top-right-radius : var(--border-radius);

	.card__action
	{
		position : static;
		height : calc(var(--unit) * 5);

		.rrui__button__button
		{
			height : 100%;
		}
	}
}

.poster-profile__last-seen
{
	display     : flex;
	align-items : center;

	margin-top : calc(var(--unit) * 4);
	color : var(--gray-color-darkest);
}

.poster-profile__last-seen-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);

	fill : var(--gray-color-darkest);
}

.poster-profile__actions
{
	margin-top: calc(var(--unit) * 4);
}

.poster-profile__action
{
	.rrui__button__contents
	{
		display     : flex;
		align-items : center;
	}
}

.poster-profile__action
{
	height : calc(var(--unit) * 5);
}

.poster-profile__action-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);
	fill          : var(--base-color-darker);
	transition    : var(--button-icon-transition);
}

.poster-profile__action:active
{
	.poster-profile__action-icon
	{
		fill : var(--base-color);
	}
}

@include m
{
	.poster-profile__picture
	{
		width      : calc(var(--unit) * 18);
		height     : calc(var(--unit) * 18);
		min-width  : calc(var(--unit) * 18);
		min-height : calc(var(--unit) * 18);
	}

	.card__actions
	{
		.card__action
		{
			display: block;

			&:not(:first-child)
			{
				margin-left: 0;
			}
		}
	}

	.poster-profile__picture
	{
		.upload-picture__change-label
		{
			font-size: 1rem;
		}
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 30);
	}

	.poster-profile__background-color
	{
		height                 : calc(var(--unit) * 8);
		padding-left           : calc(var(--unit) * 3);
		padding-right          : calc(var(--unit) * 3);
	}
}

@include l
{
	.poster-profile
	{
		.rrui__text-input__input
		{
			width: calc(var(--unit) * 50);
		}
	}

	.card__actions
	{
		.card__action
		{
			// overwrites M size settings
			display: inline-block;

			&:not(:first-child)
			{
				margin-left: calc(var(--unit) * 3);
			}
		}
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 35);
	}
}

@include xl
{
	.poster-profile__picture
	{
		width      : calc(var(--unit) * 20);
		height     : calc(var(--unit) * 20);
		min-width  : calc(var(--unit) * 20);
		min-height : calc(var(--unit) * 20);
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 40);
	}
}