.poster-profile
{
	.rrui__text-input__input
	{
		width: 100%;
	}
}

.poster-profile__change-banner
{
	z-index     : 1;
	display     : flex;
	align-items : center;
	background-color           : var(--white-color);
	border-bottom-left-radius  : var(--border-radius);
	border-bottom-right-radius : var(--border-radius);

	.upload-picture__indicator
	{
		padding : var(--unit);
		color   : var(--black-color);
	}

	.upload-picture__change-overlay
	{
		background-color : transparent;
	}

	.upload-picture__change-overlay--uploading
	{
		background-color : var(--white-color);
	}
}

.poster-profile__background-picture-container
{
	display        : flex;
	align-items    : center;
	flex-direction : column;

	position : relative;
	height   : 25vw;
	border-bottom : 1px solid rgba(0, 0, 0, 0.1);
}

.poster-profile__background-picture
{
	position : absolute;
	left     : 0;
	top      : 0;
	right    : 0;
	bottom   : 0;

	background : var(--white-color);

	.picture--pattern
	{
		// Stretches the pattern vertically
		background-size : auto 100%;
	}
}

.poster-profile__background-color
{
	position               : absolute;
	right                  : 0;
	top                    : 0;
	display                : flex;
	align-items            : center;
	height                 : calc(var(--unit) * 6);
	background-color       : var(--white-color);
	border-bottom-left-radius : var(--border-radius);
}

.poster-profile__background-color,
.poster-profile__change-banner
{
	padding-left           : var(--unit);
	padding-right          : var(--unit);
}

.poster-profile__background-color-picker
{
	margin-left : var(--unit);
}

.poster-profile__picture
{
	position : absolute;
	z-index  : 1;

	border-radius : var(--border-radius);

	.upload-picture__change-label
	{
		font-size : 0.75rem;
	}
}

@include set_profile_picture_size(calc(var(--unit) * 14));

.poster-profile__picture
{
	border-radius: var(--border-radius);
}

.poster-profile__background-color,
.poster-profile__edit-actions,
.poster-profile__change-banner
{
	height : calc(var(--unit) * 6);
	border : 1px solid rgba(0, 0, 0, 0.1);
}

.poster-profile__background-color
{
	border-right : none;
}

.poster-profile__edit-actions
{
	margin-top : calc(var(--unit) * 6 * -1);
}

.poster-profile__edit-actions
{
	position       : absolute;
	padding-top    : calc(var(--unit) - 1px);
	padding-bottom : calc(var(--unit) - 1px);
	padding-left   : calc(var(--unit) * 2);
	padding-right  : calc(var(--unit) * 2);
	background-color        : var(--white-color);
	border-top-right-radius : var(--border-radius);

	.card__action
	{
		top    : 0;
		height : 100%;

		.rrui__button__button
		{
			height : 100%;
		}
	}
}

.poster-profile__edit-actions.card__actions
{
	white-space: nowrap;

	.card__action
	{
		display  : inline-block;

		&:not(:first-child)
		{
			margin-left: 1em;
		}
	}
}

.poster-profile__last-seen
{
	display     : flex;
	align-items : center;

	margin-top : calc(var(--unit) * 4);
	color : var(--gray-color-darkest);
}

.poster-profile__last-seen-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);

	fill : var(--gray-color-darkest);
}

.poster-profile__actions
{
	margin-top: calc(var(--unit) * 4);
}

.poster-profile__action
{
	.rrui__button__contents
	{
		display     : flex;
		align-items : center;
	}
}

.poster-profile__action
{
	height : calc(var(--unit) * 5);
}

.poster-profile__action-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);
	fill          : var(--base-color-darker);
	transition    : var(--button-icon-transition);
}

.poster-profile__action:active
{
	.poster-profile__action-icon
	{
		fill : var(--base-color);
	}
}

@include m
{
	@include set_profile_picture_size(calc(var(--unit) * 18));

	.card__actions
	{
		.card__action
		{
			display: block;

			&:not(:first-child)
			{
				margin-left: 0;
			}
		}
	}

	.poster-profile__picture
	{
		.upload-picture__change-label
		{
			font-size: 1rem;
		}
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 30);
	}


	.poster-profile__background-color
	{
		top                       : auto;
		bottom                    : -1px;
		border-bottom-left-radius : 0;
		border-top-left-radius    : var(--border-radius);
	}

	.poster-profile__background-color,
	.poster-profile__change-banner
	{
		padding-left  : calc(var(--unit) * 2);
		padding-right : calc(var(--unit) * 2);
	}

	.poster-profile__background-color,
	.poster-profile__edit-actions,
	.poster-profile__change-banner
	{
		height : calc(var(--unit) * 8);
	}

	.poster-profile__edit-actions
	{
		margin-top : calc(var(--unit) * 8 * -1);
	}
}

@include l
{
	.poster-profile
	{
		.rrui__text-input__input
		{
			width: calc(var(--unit) * 50);
		}
	}

	.card__actions
	{
		.card__action
		{
			// overwrites M size settings
			display: inline-block;

			&:not(:first-child)
			{
				margin-left: calc(var(--unit) * 3);
			}
		}
	}

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 35);
	}
}

@include xl
{
	@include set_profile_picture_size(calc(var(--unit) * 20));

	.poster-profile__background-picture-container
	{
		max-height : calc(var(--unit) * 40);
	}
}