// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_font_size(18pt);
@include set_css_variable_header_height(calc(var(--unit) * 7));
@include set_css_variable_content_section_padding_and_margin(calc(var(--unit) * 3.5), calc(var(--unit) * 1));

@include columns(l-);

.compact
{
	max-width    : calc(var(--unit) * 100);
	margin-left  : auto;
	margin-right : auto;

	// .rrui__activity-indicator
	// {
	// 	margin-left  : auto;
	// 	margin-right : auto;
	// }
}
