// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_input_width(calc(var(--modular-grid-unit) * 60));
@include set_css_variable_header_height(calc(var(--modular-grid-unit) * 7));
@include set_css_variable_content_section_padding(calc(var(--modular-grid-unit) * 4));

@include columns(m);

.logo
{
	font-size : 20pt
}

.sign-in
{
	margin-right: calc(var(--modular-grid-unit) * 2);
}

.user-profile .user-picture
{
	width      : calc(var(--modular-grid-unit) * 18);
	height     : calc(var(--modular-grid-unit) * 18);
	min-width  : calc(var(--modular-grid-unit) * 18);
	min-height : calc(var(--modular-grid-unit) * 18);
}

.user-bar
{
	.user-name
	{
		display: flex;
	}
}

.authentication-form, .registration-form
{
	width : 22em;

	h2
	{
		float : left;
	}

	.or-register
	{
		float: right;
	    margin-top: 0.42em;
	}
}

.user-profile__actions
{
	.button
	{
		// overwrites inline css
		display: block !important;

		&:not(:first-child)
		{
			margin-left: 0;
		}
	}
}

.user-profile__picture__change__label
{
	font-size: 1rem;
}

.button-group-button
{
	padding-left  : calc(var(--modular-grid-unit) * 2);
	padding-right : calc(var(--modular-grid-unit) * 2);
}
