// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_font_size(16pt);
@include set_css_variable_input_width(calc(var(--unit) * 60));
@include set_css_variable_header_height(calc(var(--unit) * 7));
@include set_css_variable_content_section_padding_and_margin(calc(var(--unit) * 3.5), calc(var(--unit) * 0.5), calc(var(--unit) * 0.5));

@include columns(m-);

.rrui__segmented-control__option
{
	padding-left  : calc(var(--unit) * 2);
	padding-right : calc(var(--unit) * 2);
}

.content-section
{
	border-radius : var(--border-radius);
	// box-shadow    : var(--shadow);
	box-shadow : 0 1px 0 0 var(--gray-color-lighter), 0 0 0 1px var(--gray-color);

	.content-section-header
	{
		border-top-left-radius  : var(--border-radius);
		border-top-right-radius : var(--border-radius);
	}
}
