// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_font_size(16pt);
@include set_css_variable_input_width(calc(var(--modular-grid-unit) * 50));
@include set_css_variable_header_height(calc(var(--modular-grid-unit) * 7));
@include set_css_variable_content_section_padding(calc(var(--modular-grid-unit) * 3));

@include columns(s);

.logo
{
	font-size : 16pt;

	margin-top : var(--header-vertically-centered-text-margin-top);
}

.language
{
	margin-top   : 0.25em;
	margin-right : 0.5em;
}

.sign-in
{
	margin-right : calc(var(--modular-grid-unit) * 2);
}

.authentication-form, .registration-form
{
	width : calc(var(--modular-grid-unit) * 40);

	h2
	{
		font-size: 1.4em;
	}
}
