:root
{
	--font-size     : 16pt;
	--header-height : 2.2em;
	--content-section-padding : 0.95rem;
}

@include columns(s);

.logo
{
	font-size : 16pt;

	margin-top : var(--header-vertically-centered-text-margin-top);
}

.menu-button
{
	padding: 0.4em;
}

.language
{
	margin-top: 0.25em;
	margin-right: 0.5em;
}

.sign-in
{
	margin-right: 0.5em;
}

.authentication-form, .registration-form
{
	width : 12.5em;

	h2
	{
		font-size: 1.4em;
	}
}