// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_font_size(20pt);
@include set_css_variable_content_section_margin(calc(var(--modular-grid-unit) * 2.5));

@include columns(xl);

.user-profile .user-picture
{
	width      : calc(var(--modular-grid-unit) * 20);
	height     : calc(var(--modular-grid-unit) * 20);
	min-width  : calc(var(--modular-grid-unit) * 20);
	min-height : calc(var(--modular-grid-unit) * 20);
}