// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_font_size(20pt);
@include set_css_variable_content_section_margin(0.8rem);

@include columns(xl);

.user-profile .user-picture
{
	width      : 6rem;
	height     : 6rem;
	min-width  : 6rem;
	min-height : 6rem;
}