// These will be replaced with the corresponding native CSS variables
// when CSS native variables will be supported in all major browsers.
// http://caniuse.com/#search=css%20var
@include set_css_variable_font_size(14pt);
@include set_css_variable_input_width(calc(var(--modular-grid-unit) * 35));
@include set_css_variable_header_height(calc(var(--modular-grid-unit) * 7));
@include set_css_variable_content_section_margin(0);
@include set_css_variable_content_section_padding(0.8rem);

@include columns(xs);

.logo
{
	margin-left  : 1.2em;
	margin-right : 1.2em;

	margin-top : var(--header-vertically-centered-text-margin-top);
}

.logo
{
	font-size : 14pt
}

.user-bar
{
	.user-name
	{
		display: none;
	}
}

.authentication-form, .registration-form
{
	width : calc(var(--modular-grid-unit) * 40);

	h2
	{
		font-size: 1.3em;
		margin-bottom: 0;
	}

	.or-register
	{
		margin-top: 0;
		margin-bottom: calc(var(--modular-grid-unit) * 2);
	}
}

.authentication-form
{
	.rrui__button--primary
	{
		// overwrites inline css
		display: block !important;
		// margin-bottom: 1em;
	}
}

.sign-in
{
	margin-right: calc(var(--modular-grid-unit) * 2);
}

header
{
	text-align      : center;
	justify-content : center;
}

.logo
{
	display: block;
}

// Show collapsible menu instead of full-sized menu (for small screens)
.rrui__menu
{
	display: none;
}

// But at the same time the "Menu" page still has its widescreen menu shown
.menu-page .rrui__menu
{
	display: block;
}

.language
{
	margin-top   : 0.25em;
	margin-right : 1em;

	&, .rrui__select__options li, .rrui__select__option, .rrui__select__selected
	{
		// line-height: 0;
	}

	.rrui__select__option
	{
		padding-top: 0;
		padding-bottom: 0;
	}

	.rrui__select__arrow
	{
		// overrides inline css
		margin-bottom : 0.25em !important;
	}
}

.menu-button-container
{
	position : absolute;
	top  : 0;
	left : 0;

	height : 100%;

	display        : flex;
	flex-direction : row;
	align-items    : center;
}

.page
{
	min-width: 100%;

	// box-shadow will show a bug if declared here
	// https://github.com/philipwalton/solved-by-flexbox/issues/79
	// box-shadow : 0 0 0.35em rgba(0, 0, 0, 1);

	// when adjusting this transition time also adjust it in pages/layout.js
	transition-property        : transform;
	transition-timing-function : ease-out;

	// breaks <header/> position fixed
	// transform  : translate3d(0px, 0px, 0px);
}

.user-profile .user-picture
{
	width      : calc(var(--modular-grid-unit) * 14);
	height     : calc(var(--modular-grid-unit) * 14);
	min-width  : calc(var(--modular-grid-unit) * 14);
	min-height : calc(var(--modular-grid-unit) * 14);
}

.user-profile__picture__change__label
{
	font-size: 0.75rem;
}

.background-section
{
	margin-top    : calc(var(--modular-grid-unit) * 2);
	margin-bottom : calc(var(--modular-grid-unit) * 2);
}
