@font-face {
	font-family: 'PT Sans';
	font-weight: normal;
	src: url('./../fonts/PT Sans/PTS55F_W.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: italic;
	src: url('./../fonts/PT Sans/PTS56F_W.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	src: url('./../fonts/PT Sans/PTS75F_W.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	font-style: italic;
	src: url('./../fonts/PT Sans/PTS76F_W.woff') format('woff');
}

body {
	font-family: 'PT Sans';
}