{
	"presets":
	[
		"node6", 
		"stage-0"
	],

	"plugins":
	[
		"transform-es2015-destructuring",
		"transform-object-rest-spread",

		"transform-bluebird",
		"transform-runtime",
		"add-module-exports",
		"transform-decorators-legacy"
	]
}