{% extends "base.html" %}

{% block title %}
	{{ translate('mail.email_changed.title') }}
{% endblock %}

{% block css %}
	{% parent %}
	<link rel="stylesheet" href="email changed (old mailbox).css">
{% endblock %}

{% block content %}
	<p>
		{{ translate('mail.email_changed.old.email_changed_to', { email: '<strong>' + email + '</strong>' }, { escape: false }) }}
	</p>

	<p>
		{{ translate('mail.email_changed.old.block_account', { block_account_link: '<a href="' + block_account_link + '">' + translate('mail.email_changed.old.block_account_link') + '</a>' }, { escape: false }) }}
	</p>
{% endblock %}