@import "constants.scss";


@-moz-keyframes spinner
{
	0%
	{
		-moz-transform : rotate(0deg);
		transform      : rotate(0deg);
	}
	100%
	{
		-moz-transform : rotate(360deg);
		transform      : rotate(360deg);
	}
}

@-webkit-keyframes spinner
{
	0%
	{
		-webkit-transform : rotate(0deg);
		transform         : rotate(0deg);
	}
	100%
	{
		-webkit-transform : rotate(360deg);
		transform         : rotate(360deg);
	}
}

@keyframes spinner
{
	0%
	{
		-moz-transform    : rotate(0deg);
		-ms-transform     : rotate(0deg);
		-webkit-transform : rotate(0deg);
		transform         : rotate(0deg);
	}
	100%
	{
		-moz-transform    : rotate(360deg);
		-ms-transform     : rotate(360deg);
		-webkit-transform : rotate(360deg);
		transform         : rotate(360deg);
	}
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required)
{
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	
	text-indent: -9999px;
	overflow: hidden;

	width: 0.6em;
	height: 0.6em;

	border: 0.05em solid black;
	border-right-color: transparent;
	border-radius: 0.3em;

	// -moz-animation    : spinner 1250ms infinite linear;
	// -webkit-animation : spinner 1250ms infinite linear;
	animation: spinner 1250ms infinite linear;
}

.dropdown
{
	color: black;
}

.dropdown-item-list
{
	transition-property        : max-height, border-color, box-shadow, opacity;
	transition-duration        : 0ms; // don't animate short lists
	transition-timing-function : ease-out;

	border-width : 1px;
	border-style : solid;
	border-color : transparent;

	opacity: 0; // 0.85;

	// prevent white background showing through the transparent border
	// http://stackoverflow.com/questions/7473200/transparent-border-expands-background-color-image
	background-clip: padding-box;
	// for Safari
	-webkit-background-clip: padding-box;

    overflow-y: auto;
}

.dropdown-item-list-expanded
{
	box-shadow : 0 3px 20px rgba(0, 0, 0, 0.05);

	border-color : #e7e7e7;

	opacity: 1;
}

.dropdown-item
{
	padding-left  : $dropdown-item-horizontal-padding;
	padding-right : $dropdown-item-horizontal-padding;

	padding-top    : $dropdown-item-vertical-padding;
	padding-bottom : $dropdown-item-vertical-padding;

	width: 100%;
	text-align: left;

	&:active
	{
		background-color: $dropdown-item-active-color;
	}
}

/*
.dropdown-item-selected
{
	transform  : translateX(0);
	transition : transform 100ms ease-out;
}

.dropdown-collapsed
{
	.dropdown-item-selected
	{
		transform: translateX(-($dropdown-item-horizontal-padding - $input-padding));
	}
}
*/

.dropdown-item-list
{
	transform: scaleY(0);
	transform-origin: 50% top 0px;

	// 250ms - too slow for short lists
	transition: all 150ms cubic-bezier(.76,.04,.46,.75) 0ms !important;
	
	li
	{
		opacity: 0;

		// mitigates list labels overlapping with the underlying text creating a feeling of a mess
		transition: opacity 150ms ease-out;
	}
}

.dropdown-upward .dropdown-item-list
{
	transform-origin: 50% bottom 0px;
}

.dropdown-item-list-expanded
{
	transform: scaleY(1);
	transform-origin: 50% top 0px;

	transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;

	li
	{
		opacity: 1;
	}
}

.dropdown-item-selected-in-list
{
	background-color: $dropdown-item-active-color;
}

.dropdown-item-list
{
	> li:first-child
	{
		padding-top    : 2 * $dropdown-item-vertical-padding;
	}

	> li:last-child
	{
		padding-bottom : 2 * $dropdown-item-vertical-padding;
	}
}

.dropdown-item-selected
{
	padding-left  : $input-padding; // $dropdown-item-horizontal-padding;
	padding-right : $input-padding;

	padding-top    : $input-padding;
	padding-bottom : $input-padding;
	margin-bottom  : -$input-border-width;

	border: none;
	border-bottom: $input-border-width solid $input-border-color;
	transition: border 0.1s;
}

.dropdown-item, .dropdown-item-selected
{
	color: inherit;
	font-weight: normal;

	&:active
	{
		color: $active-darker-color;
	}
}

.dropdown-expanded .dropdown-item-selected
{
	color: $active-darker-color;
}

.dropdown-arrow
{
	// opacity: ...;
	color: black;
}

// https://css-tricks.com/three-line-menu-navicon/

.menu-button
{
	display: none;
	position: absolute;

	&:active
	{
		.menu-icon:before
		{
			// border-color: $active-lighter-color;
			border-color: $header-background-text-color-active;
		}
	}
}

.language
{
	position: absolute;
	top: 1.1em;
	right: 0;

	margin-top: 0.1em;
	margin-right: 1.5em;

	.dropdown-item-selected
	{
		text-align: right !important;
		border: none;
	}

	.dropdown-item-icon > img
	{
		width: 1.2em;
	}
}

// http://tympanus.net/codrops/2013/10/15/animated-checkboxes-and-radio-buttons-with-svg/

.checkbox svg path
{
	stroke: $active-color !important;
	stroke-width: 0.6em !important;
}

.checkbox input:active + .checkbox_border
{
	// border-color: $active-color !important;
	border-color: #bfbfbf !important;
}

.checkbox-label:active
{
	color: $active-darker-color !important;
}

.checkbox-invalid .checkbox-border
{
	border-color: $input-invalid-border-color !important;
}

.user_info
{
	display         : flex;
	flex-direction  : row;
	justify-content : center;

	min-height : 100%;
	max-height : 100%;
	height     : 1px;
}

.user_name
{
	// centers <a/> vertically
	display         : flex;
	flex-direction  : column;
	justify-content : center;

	margin-right: 0.8em;

	a
	{

	}
}

.user_picture
{
	// display: inline-block;

    // height: auto;

	// background-size: cover;

	min-height : 100%;
	max-height : 100%;
	height     : 1px;

	img
	{
		height    : 100%;
		width     : auto;
		max-width : none;
	}
}

.sign-in
{
	margin-right: 0.8em;
}

.authentication
{
	position: absolute;
	top   : 0;
	right : 0;

	height: 100%;

	// centers children vertically
	display: flex !important;
	align-items: center;
}

// styling react-modal dialog widget

// when changing css transition times here
// also change `default_close_timeout` in ./components/modal.js accordingly

.ReactModal__Overlay
{
	opacity: 0;
	transition: opacity 150ms ease-out;
}

.ReactModal__Overlay--after-open
{
	opacity: 1;
}

.ReactModal__Content
{
	transform: scale(0.7);
	transition: all 150ms ease-out;
}

.ReactModal__Content--after-open
{
	transform: scale(1);
}

.ReactModal__Overlay--before-close
{
	opacity: 0;
}

.ReactModal__Content--before-close
{
	transform: scale(0.7);
}

// end react-modal stying

.button-group
{
}

.button-group-button
{
	color            : black !important;
	// background-color : $background-gray-color !important;
	background-color : transparent !important;
	border : 0.1em solid $button-color;

	&:active
	{
		color            : white !important;
		background-color : $gray-to-active-color !important;
		// background-color : $button-color !important;
		// background-color : $active-lighter-color !important;
		// background-color : $secondary-button-color !important;
		// background-color : $secondary-button-active-color !important;

		transition : none !important;
	}
}

.button-group-selected
{
	color            : white !important;
	background-color : $button-color !important;
	// background-color : $active-color !important;
	// background-color : #62a8ea !important;
	// background-color : $active-darker-color !important;
}

.authentication-form, .registration-form
{
	width : 25em;
}