// theming
$active-color: #29ADFF;
$active-darker-color: #0076BF;
$button-color: #0089DE;
$secondary-button-color: #608094;
$secondary-button-active-color: #5DA0C9;
$active-lighter-color: #73C9FF;

$input-border-color: #c9c9c9;
$input-border-width: 0.1em;

$dropdown-item-vertical-padding: 0.2em;
$dropdown-item-horizontal-padding: 0.8em;

// Undefined variable: "$menu-item-compact-vertical-padding"
// if placed inside xs-m.scss
$menu-item-compact-vertical-padding: 0.3em;

$header-background: #323232;
$header-background-text-color: #f0f0f0;
$header-background-text-color-active: #e0e0e0;

$header-height: 2.7em;
$header-horizontal-padding: 1em;
$header-vertical-padding: 0.5em;

$large-screen-width       : 1600pt;
$medium-screen-width      : 1000pt;
$small-screen-width       : 600pt;
$extra-small-screen-width : 240pt;