// theming

// (black and blue color scheme)
// $active-color                  : #29ADFF;
// $active-darker-color           : #0076BF;
// $button-color                  : #0089DE;
// $secondary-button-color        : #608094;
// $secondary-button-active-color : #5DA0C9;
// $active-lighter-color          : #73C9FF;
//
// $input-error-message-color  : #C9827D;
// $input-invalid-border-color : #f44336;
// $gray-to-active-color          : #699BC9; // #62a8ea;

$background-color              : #f5f2ec;

$active-color                  : #d86502;
$active-darker-color           : #984600;
$button-color                  : #be5801;
$secondary-button-color        : #ae5326;
$secondary-button-active-color : #c75b25;
$active-lighter-color          : #ffcda3;

$background-gray-color         : #e4eaec;
$gray-to-active-color          : #eb7a1a; // #62a8ea;

$input-border-color         : #c9c9c9;
$input-invalid-border-color : #eb1c00;
$input-error-message-color  : #e30000;
$input-border-width         : 0.1em;
$input-padding              : 0.3em;
$input-width-l              : 18em;

$input-width-xs              : 8em;

$dropdown-item-vertical-padding   : 0.2em;
$dropdown-item-horizontal-padding : 0.8em;
$dropdown-item-active-color       : #f7f7f7;

// Undefined variable: "$menu-item-compact-vertical-padding"
// if placed inside xs-m.scss
$menu-item-compact-vertical-padding: 0.3em;

$header-background: #d77827;
$header-border-color: #c4681a;
$header-text-color: #fff8eb;
$header-text-color-active: #ffd3b2;

$header-vertically-centered-text-margin-top: 0.1em;

$footer-background   : #ede6dc;
$footer-border-color : #e8e0d4;

$extra-large-screen-min-width : 1260pt;
$large-screen-min-width       : 680pt;
$medium-screen-min-width      : 460pt;
$small-screen-min-width       : 320pt;

$border-radius : 3pt;