@mixin keyframes($animation_name)
{
	@-webkit-keyframes #{$animation_name}
	{
		@content;
	}

	@-moz-keyframes #{$animation_name}
	{
		@content;
	}

	@-o-keyframes #{$animation_name}
	{
		@content;
	}

	@keyframes #{$animation_name}
	{
		@content;
	}
}

@mixin font-size($size)
{
	html, body, button, input, textarea, select
	{
		font-size : $size;
	}
}

@mixin header-height($height)
{
	header, .user-picture--header
	{
		min-height: $height;
		max-height: $height;
	}

	body // :not(.javascript-is-enabled)
	{
		margin-top: $height;
	}
}