@mixin keyframes($animation_name)
{
	@-webkit-keyframes #{$animation_name}
	{
		@content;
	}

	@-moz-keyframes #{$animation_name}
	{
		@content;
	}

	@-o-keyframes #{$animation_name}
	{
		@content;
	}

	@keyframes #{$animation_name}
	{
		@content;
	}
}