@mixin keyframes($animation_name)
{
	@-webkit-keyframes #{$animation_name}
	{
		@content;
	}

	@-moz-keyframes #{$animation_name}
	{
		@content;
	}

	@-o-keyframes #{$animation_name}
	{
		@content;
	}

	@keyframes #{$animation_name}
	{
		@content;
	}
}

@mixin font-size($size)
{
	html, body, button, input, textarea, select
	{
		font-size : $size;
	}
}

@mixin header-height($height)
{
	header, .user-picture--header
	{
		min-height: $height;
		max-height: $height;
	}

	.user-picture--header
	{
		width: $height;
	}

	body
	{
		padding-top: $height;
	}

	.page
	{
		min-height: calc(100vh - #{$height});
	}
}

@mixin content-section-margin($margin)
{
	.content-section, .background-section
	{
		margin : $margin;
	}
}

@mixin content-section-padding($padding)
{
	.content-section
	{
		padding : $padding;
	}

	.background-section
	{
		padding-left  : $padding;
		padding-right : $padding;
	}
}