@import "constants.scss";

.page
{
	flex-grow: 1;
	
	display        : flex;
	flex-direction : column;

	transition: none;
}

.layout
{
	display        : flex;
	flex-direction : column;

	height: 100%;
}

footer
{
	// can be removed later
	position: relative;

	// height: 1px;
	background: $footer-background;
	color: rgb(102, 102, 102);

	border-top: 1px solid $footer-border-color;

	padding-top    : 1.3em;
	padding-bottom : 1.2em;

	padding-left  : 1em;
	padding-right : 1em;

	font-size: 0.8em;

	> div
	{
		text-align: center;
	}
}

nav
{
    // margin-left : 0.5em;
    // margin-top  : 0.8em;

	// padding-top:    0.4em;
	// padding-bottom: 0.5em;
}

.content
{
	flex-grow : 1;

	margin-top    : 1em;
	margin-bottom : 1.5em;
	margin-left   : 1em;
	margin-right  : 1em;

	padding-top    : 2em;
	padding-bottom : 2em;
	padding-left   : 1.8em;
	padding-right  : 1.8em;
}

.menu-item-selected
{
	color : $active-lighter-color;
	// border-bottom-color : $active-color;
}

.menu-collapsible
{
	a
	{
		color: inherit;
	}

	li
	{
		margin-right: 0 !important;
	}
}

.logo
{
	// flex-grow: 1;
	// flex-shrink: 1;

	display : inline-block;
	vertical-align : bottom;
}

// header
// {
// 	position   : fixed;
// 	width      : 100%;
// 	left       : 0;
// 	top        : 0;
// 	box-sizing : border-box;
// 	z-index    : 1;
// }

header
{
	display        : flex;
	flex-direction : row;
	align-items    : center;

	// .authentication - position: absolute
	position: relative;

	// box-sizing: border-box;

	// padding-top    : $header-vertical-padding;
	// padding-bottom : $header-vertical-padding;

	padding-left  : $header-horizontal-padding;
	padding-right : $header-horizontal-padding;

	background   : $header-background;
	color        : $header-text-color;

	border-bottom : 1px solid $header-border-color;
	box-sizing    : border-box;

	button, a, .dropdown-item-selected
	{
		color: $header-text-color;

		&:active
		{
			color: $header-text-color-active;
		}
	}

	.dropdown-arrow
	{
		color: $header-text-color;
		opacity: 0.8;
	}
}

section
{
	background: white;
    box-shadow: 0 1px 0 0 #e1e2e6, 0 0 0 1px #e6e7eb;
}
