@import "constants.scss";

section, .card
{
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

footer
{
	// can be removed later
	position: relative;

	// background-color : $footer-background !important;
	// color            : rgb(102, 102, 102);

	// border-top: 1px solid $footer-border-color;

	padding-top    : 1.3em;
	padding-bottom : 1.2em;

	padding-left  : 1em;
	padding-right : 1em;

	font-size: 0.8em;

	> div
	{
		text-align: center;
	}
}

.content
{
	flex-grow   : 1;
	flex-shrink : 0;
	flex-basis  : auto;
}

.content-section
{
	margin : 1em;
	padding : 2em;
}

.nav-collapsible
{
	transform  : translate3d(-100%, 0, 0);
	transition : transform 210ms ease-out;
}

.menu-item-selected
{
	color : $base-color-lightest;
}

.menu-collapsible
{
	a
	{
		color: inherit;
	}

	li
	{
		margin-right: 0 !important;
	}
}

header
{
	display        : flex;
	flex-direction : row;
	align-items    : center;

	// .authentication - position: absolute
	position: relative;

	padding-left  : 1em;
	padding-right : 1em;

	background-color : $base-color-darker !important;

	// border-bottom : 1px solid $header-border-color;
	// box-sizing    : border-box;

	button, a.button, a, .dropdown-item-selected
	{
		color: white;

		&:active
		{
			color: $base-color-lightest;
		}
	}

	.dropdown-arrow
	{
		color: $header-text-color;
		opacity: 0.8;
	}
}

// body:not(.javascript-is-enabled)
// {
header
{
	position : fixed;
	top      : 0;
	left     : 0;
	right    : 0;
	z-index  : 1
}
// }

// This technique drops IE10-11 support.
// https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
// They say it works in Edge though.
//
// Also "100vh" seems to introduce a window resizing bug in Chrome
// when window height is max of all previous window heights.
//
.page
{
	display        : flex;
	flex-direction : column;

    min-height: 100vh;
}