body, button, input, textarea, select
{
	font-size : 18pt;
}

.logo
{
	font-size : 22pt
}

.menu-button
{
    top  : 0;
    left : 0.2em;
}

.content
{
	padding-left:  1.2em;
	padding-right: 1.2em;
}

.authentication
{
	top: 0.6em;
	right: 0.8em;
}