@import "constants.scss";

// custom fonts slow down page loading

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-weight : normal;
// 	src         : url('../fonts/PT Sans/PTS55F_W.woff') format('woff');
// }

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-style  : italic;
// 	src         : url('../fonts/PT Sans/PTS56F_W.woff') format('woff');
// }

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-weight : bold;
// 	src         : url('../fonts/PT Sans/PTS75F_W.woff') format('woff');
// }

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-weight : bold;
// 	font-style  : italic;
// 	src         : url('../fonts/PT Sans/PTS76F_W.woff') format('woff');
// }

*,
*:after,
*:before
{
	box-sizing: border-box;
}

html, body, #react_markup
{
	height: 100%;
}

body
{
	margin: 0;
}

body, button, input, textarea, select
{
	// font-family : 'PT Sans';
	font-family : Arial, Sans, Helvetica;
	font-size   : 20pt;
}

// stretches .page to 100% of html
footer
{
	height: 1px;
}

img
{
	max-width: 100%;
    height: auto;
}

a:active
{
	color: $active-darker-color;
}

button
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	font-weight : bold;
	color       : $active-color;

	transition: all 30ms ease-out;

	&:active
	{
		color: $active-lighter-color;
	}
}

nav
{
	padding-top:    0.4em;
	padding-bottom: 0.5em;
}

h1
{

}

a
{
	color: inherit;
}

@-moz-keyframes spinner
{
	0%
	{
		-moz-transform : rotate(0deg);
		transform      : rotate(0deg);
	}
	100%
	{
		-moz-transform : rotate(360deg);
		transform      : rotate(360deg);
	}
}

@-webkit-keyframes spinner
{
	0%
	{
		-webkit-transform : rotate(0deg);
		transform         : rotate(0deg);
	}
	100%
	{
		-webkit-transform : rotate(360deg);
		transform         : rotate(360deg);
	}
}

@keyframes spinner
{
	0%
	{
		-moz-transform    : rotate(0deg);
		-ms-transform     : rotate(0deg);
		-webkit-transform : rotate(0deg);
		transform         : rotate(0deg);
	}
	100%
	{
		-moz-transform    : rotate(360deg);
		-ms-transform     : rotate(360deg);
		-webkit-transform : rotate(360deg);
		transform         : rotate(360deg);
	}
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required)
{
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	
	text-indent: -9999px;
	overflow: hidden;

	width: 0.6em;
	height: 0.6em;

	border: 0.05em solid black;
	border-right-color: transparent;
	border-radius: 0.3em;

	// -moz-animation    : spinner 1250ms infinite linear;
	// -webkit-animation : spinner 1250ms infinite linear;
	animation: spinner 1250ms infinite linear;
}

.dropdown
{
	color: black;
}

.dropdown-item-list
{
	transition: all 100ms ease-out;

	border-width : 1px;
	border-style : solid;
	border-color : transparent;

	// prevent white background showing through the transparent border
	// http://stackoverflow.com/questions/7473200/transparent-border-expands-background-color-image
	background-clip: padding-box;
	// for Safari
	-webkit-background-clip: padding-box;
}

.dropdown-item-list-expanded
{
	box-shadow : 0 3px 20px rgba(0, 0, 0, 0.05);

	border-color : #e7e7e7;
}

.dropdown-item
{
	padding-left  : $dropdown-item-horizontal-padding;
	padding-right : $dropdown-item-horizontal-padding;

	padding-top    : $dropdown-item-vertical-padding;
	padding-bottom : $dropdown-item-vertical-padding;
}

.dropdown-item-list
{
	> li:first-child
	{
		padding-top    : 2 * $dropdown-item-vertical-padding;
	}

	> li:last-child
	{
		padding-bottom : 2 * $dropdown-item-vertical-padding;
	}
}

.dropdown-item-selected
{
	padding-left: $dropdown-item-horizontal-padding;
}

.dropdown-item, .dropdown-item-selected
{
	color: inherit;
	font-weight: normal;

	&:active
	{
		color: $active-darker-color;
	}
}

.dropdown-arrow
{
	opacity : 0.3
}

.content
{
	margin-top    : 0.5em;
	margin-bottom : 1em;

	padding-left  : 1.8em;
	padding-right : 1.8em;
}

.menu
{
	margin-left    : 0.5em;
	margin-bottom : -0.15em !important;
}

.menu-item
{
	margin-left    : 0.4em;
	margin-right   : 0.4em;

	padding-bottom : 0em;

	border-bottom-width : 0.12em;
	border-bottom-color : transparent;
	border-bottom-style : solid;
}

.menu-item-selected
{
	border-bottom-color : $active-color;
}

.logo
{
	display : inline-block;
	vertical-align : bottom;
}

header
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	padding-left: 1.0em;
	padding-right: 1.0em;
}

// https://css-tricks.com/three-line-menu-navicon/

.menu-button
{
	display: none;
	position: absolute;

	&:active
	{
		.menu-icon:before
		{
			border-color: $active-lighter-color;
		}
	}
}

.language
{
	margin-top: 0.2em;
}

table
{
	border-spacing  : 0;
	border-collapse : collapse;
}

th, td
{
	padding     : 8px;
	line-height : 1.42857143;
    border-top  : 1px solid #ddd;
}

th
{
	vertical-align : bottom;
	border-bottom  : 2px solid #ddd;
	border-top     : 0;
	text-align     : left;
}

@media all and (min-width: 1601pt) { @import "xl.scss" }
@media all and (min-width: 901pt) { @import "l-xl.scss" }
@media all and (min-width: 901pt) { @import "l.scss" }
@media all and (min-width: 901pt) { @import "l-xl.scss" }
@media all and (min-width: 901pt) and (max-width: 1600pt)  { @import "l-xl.scss" }
@media all and (min-width: 601pt)  and (max-width: 1600pt) { @import "m-l.scss" }
@media all and (min-width: 601pt)  and (max-width: 900pt)  { @import "m.scss" }
@media all and (min-width: 241pt)  and (max-width: 900pt)  { @import "s-m.scss" }
@media all and (min-width: 241pt)  and (max-width: 600pt)  { @import "s.scss" }
@media all                         and (max-width: 900pt)  { @import "xs-m.scss" }
@media all                         and (max-width: 600pt)  { @import "xs-s.scss" }
@media all                         and (max-width: 240pt)  { @import "xs.scss" }

// @import "xl.scss"     all and (min-width: 1921px);
// @import "l-xl.scss"   all and (min-width: 1201px);
// @import "l.scss"      all and (min-width: 1201px) and (max-width: 1920px);
// @import "m-l.scss"    all and (min-width: 641px)  and (max-width: 1920px);
// @import "m.scss"      all and (min-width: 641px)  and (max-width: 1200px);
// @import "s-m.scss"    all and (min-width: 281px)  and (max-width: 1200px);
// @import "s.scss"      all and (min-width: 281px)  and (max-width: 640px);
// @import "xs-m.scss"   all and                         (max-width: 1200px);
// @import "xs-s.scss"   all and                         (max-width: 640px);
// @import "xs.scss"     all and                         (max-width: 280px);
