@import "constants.scss";

html
{
	// https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away
	-ms-touch-action : manipulation;
	touch-action     : manipulation;
}

body
{
	margin : 0;

	// Always show vertical scrollbar to avoid page width jumping
	overflow-y : scroll;
}

// // This will be replaced with the contents of the mixin
// // when CSS native variables will be supported in all major browsers.
// // http://caniuse.com/#search=css%20var
// set_css_variable_font_size(var(--font-size));

// just background on .page is not enough
// because it won't stretch to fill all the height
// https://github.com/philipwalton/solved-by-flexbox/issues/79
.page, body
{
	background-color: var(--gray-color-lighter);
}

html, body, button, input, textarea, select
{
	font-family : Scada, Arial, Helvetica; // Roboto maybe, but Arial has better kerning
	color       : var(--black-color);
}

ul
{
	margin          : 0;
	padding         : 0;
	list-style-type : none;
}

input[type="checkbox"], input[type="radio"]
{
	width: 0.9em;
	height: 0.9em;

	margin-right: 0.3em;
	margin-bottom: 0.2em;

	vertical-align: bottom;
}

input[type="checkbox"]
{
	margin-bottom: 0.2em;
}

input[type="radio"]
{
	margin-bottom: 0.16em;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select,
.date-picker
{
	display : block;

	padding-top    : var(--input-padding);
	padding-bottom : var(--input-padding);

	border        : none;
	border-bottom : var(--input-border-width) solid var(--gray-color-light);
	transition    : border 0.1s;
}

// // This will be replaced with the contents of the mixin
// // when CSS native variables will be supported in all major browsers.
// // http://caniuse.com/#search=css%20var
// set_css_variable_input_width(var(--input-width));

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea
{
	margin: 0;

	appearance: none;

	box-sizing: border-box;

	&:focus
	{
		outline: none;

		border-bottom: var(--input-border-width) solid var(--accent-color);
	}

	&[disabled]
	{
		background-color : white;
	}

	// When changing this placeholder color
	// also change ".text-input label" color

	&::placeholder
	{
		color   : var(--gray-color-dark);
		opacity : 1 !important;
	}

	/* Chrome/Opera/Safari */
	&::-webkit-input-placeholder
	{
		color   : var(--gray-color-dark);
		opacity : 1 !important;
	}

	/* Firefox 19+ */
	&::-moz-placeholder
	{
		color   : var(--gray-color-dark);
		opacity : 1 !important;
	}

	/* Firefox 18- */
	&:-moz-placeholder
	{
		color   : var(--gray-color-dark);
		opacity : 1 !important;
	}

	/* IE 10+ */
	&:-ms-input-placeholder
	{
		color   : var(--gray-color-dark);
		opacity : 1 !important;
	}
}

.date-picker
{
	padding-bottom: 0;

	input
	{
		padding-bottom: var(--input-padding);
	}
}

// uncomment these in case of "autoresize" feature implemented for <textarea/>
// textarea
// {
// 	overflow-y: hidden;
//	resize: none;
// }

select
{
	&:focus
	{
		outline: none;

		border-bottom: var(--input-border-width) solid var(--base-color-darker);
	}
}

img
{
	// `max-width: 100%` broke the locale switcher dropdown autowidth,
	// because the containing <li/> width is `auto`,
	// therefore the <img/> was displayed but its layout height was considered 0.
	// max-width: 100%;
    // height: auto;
}

h1, h2
{
	font-weight : normal;
}

a
{
	color: var(--base-color-darkest);
	text-decoration: none;

	&:active
	{
		color: var(--base-color-darker);
	}
}

button, .button__link
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	white-space: nowrap;

	// font-weight : bold;
	color       : var(--base-color-darker);

	transition: color 30ms ease-out;

	&:active
	{
		color: var(--base-color);
	}
}

.button--primary
{
	button, .button__link
	{
		color : var(--accent-color);

		&:active
		{
			color: var(--accent-color-lighter);
		}
	}
}

a, button
{
	outline : 0;
}

table
{
	border-spacing  : 0;
	border-collapse : collapse;
}

th, td
{
	padding     : 1em;
	border-top  : 1px solid #ddd;
}

th
{
	vertical-align : bottom;
	border-bottom  : 2px solid #ddd;
	border-top     : 0;
	text-align     : left;

	color       : #7f7f7f;
	font-weight : normal;
}

.sticky
{
	z-index: 1;
}

.loading
{
	display         : flex;
	align-items     : center;
	justify-content : center;

	position : fixed;
	left     : 0;
	top      : 0;

	width    : 100vw;
	height   : 100vh;

	background-color : white;
}