@import "constants.scss";

.date-picker
{
	padding-bottom: 0;
}

header .rrui__menu
{
	margin-top: var(--header-vertically-centered-text-margin-top);
}

.rrui__form__error
{
	margin-top    : calc(var(--unit) * 4);
	margin-bottom : calc(var(--unit) * 4);
	color         : var(--error-color-darker);
}

.ReactModal__Overlay
{
	z-index : var(--modal-z-index);
}

// a <ul/> with errors
.errors
{
	margin-top    : calc(var(--unit) * 6);
	margin-bottom : calc(var(--unit) * 6);

	color      : var(--error-color-darker);
	// text-align : center;
}

.error
{
	color : var(--error-color-darker);
}

.card__actions
{
	float: right;

	.card__action:not(:first-child)
	{
		margin-left: 1em;
	}
}

.form__error-details
{
	color : var(--black-color);
}

.error-page
{
	text-align: center;

	h1
	{
		margin-top: 4rem;
	}
}

.error-page__page-link
{
	display    : inline-block;

	max-width     : 100%;
	text-overflow : ellipsis;
	overflow      : hidden;
}

.content-section
{
	p:first-child
	{
		margin-top: 0;
	}

	p:last-child
	{
		margin-bottom: 0;
	}
}

// https://material-design.storage.googleapis.com/publish/material_v_9/0Bzhp5Z4wHba3dEZTUF9idzBHMWc/patterns_errors_userinput19.png
.content-section__errors
{
	color            : var(--error-color-darker);
	background-color : var(--gray-color-light);

	border-bottom: 1px solid var(--gray-color-darker);
}

.content-section__errors--top
{
	border-top-left-radius  : var(--card-border-radius);
	border-top-right-radius : var(--card-border-radius);
}

.button--primary
{
	color : var(--accent-color);

	&:active
	{
		color : var(--accent-color-lighter);
	}
}

.card__action
{
	position : relative;
	top      : -0.4em;

	.rrui__button__button
	{
		text-transform : lowercase;
	}
}

.rrui__input
{
	height : calc(var(--unit) * 5);
}

.rrui__form__fields
{
	margin-top: calc(var(--unit) * 6);
}

.rrui__form__field
{
	margin-bottom: calc(var(--unit) * 5);

	&:last-child
	{
		margin-bottom: 0;
	}
}

.rrui__form__field-description
{
	margin-top    : 0;
	margin-bottom : calc(var(--unit) * 3);
}

.rrui__button,
.rrui__button__button
{
	height : auto;
}

.button--button
{
	height : calc(var(--unit) * 6);

	.rrui__button__button
	{
		height : 100%;
	}
}

.rrui__checkbox__checkmark
{
	top    : -0.1em;
	width  : 0.8em;
	height : 0.8em;
}

.rrui__snackbar--error
{
	background-color : var(--error-color-darker);
}

.rrui__switch__groove
{
	color: var(--base-color-slightly-darker);
}

.rrui__tooltip
{
	z-index : var(--tooltip-z-index);
}

.rrui__color-picker
{
	position : relative;
	display  : inline-block;
	width    : calc(var(--unit) * 4);
	height   : calc(var(--unit) * 4);
	border-radius : var(--border-radius);
}

.rrui__color-picker__color-button
{
	border : 1px solid rgba(0, 0, 0, 0.1);
	cursor : pointer;
}

.rrui__color-picker__color-button[disabled]
{
	cursor : default;
}