@import "constants.scss";
@import "modal.scss";

.spinner
{
	width  : 2em;
	height : 2em;

	stroke : var(--black-color);

	svg
	{
		animation: spinner-rotate 2s linear infinite;
		transform-origin: center center;
	}

	circle
	{
		stroke-dasharray  : 1,200;
		stroke-dashoffset : 0;
		animation: spinner-extent 1.5s ease-in-out infinite;
		stroke-linecap: round;
	}
}

@keyframes spinner-rotate
{
	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes spinner-extent
{
	0%
	{
		stroke-dasharray  : 1,200;
		stroke-dashoffset : 0;
	}

	50%
	{
		stroke-dasharray  : 89,200;
		stroke-dashoffset : -35;
	}

	100%
	{
		stroke-dasharray  : 89,200;
		stroke-dashoffset : -124;
	}
}

.dropdown
{
	color: black;
}

.dropdown-item-list
{
	transition-property        : max-height, border-color, box-shadow, opacity;
	transition-duration        : 0ms; // don't animate short lists
	transition-timing-function : ease-out;

	// border-width : 1px;
	// border-style : solid;
	// border-color : transparent;

	opacity: 0; // 0.85;

	// prevent white background showing through the transparent border
	// http://stackoverflow.com/questions/7473200/transparent-border-expands-background-color-image
	background-clip: padding-box;
	// for Safari
	-webkit-background-clip: padding-box;

	overflow-y: auto;
}

.dropdown-item-list-simple-left-aligned
{
	left: calc(var(--modular-grid-unit) * var(--dropdown-item-side-padding) * -1) !important;
}

.dropdown-item-list-simple-right-aligned
{
	right : calc(var(--modular-grid-unit) * var(--dropdown-item-side-padding) * -1) !important;
}

.dropdown-item-list-expanded
{
	// border-color : #e7e7e7;

	opacity: 1;
}

.dropdown-item
{
	width: 100%;

	padding-left  : calc(var(--modular-grid-unit) * var(--dropdown-item-side-padding));
	padding-right : calc(var(--modular-grid-unit) * var(--dropdown-item-side-padding));

	padding-top    : calc(var(--modular-grid-unit) * 1);
	padding-bottom : calc(var(--modular-grid-unit) * 1);

	box-sizing: border-box;

	text-align: left;

	&:active
	{
		background-color: var(--gray-color-lighter);
	}
}

.dropdown-item__icon
{
	margin-right : calc(var(--modular-grid-unit) * 3);
}

.dropdown-separator
{
	height           : var(--input-separator-width);
	background-color : var(--gray-color);
}

// <li/>
.dropdown-list-item--separator
{
	padding-top      : calc(var(--modular-grid-unit) * 2);
	padding-bottom   : calc(var(--modular-grid-unit) * 2);
}

.dropdown-item-list
{
	transform: scaleY(0);
	transform-origin: 50% top 0px;

	// 250ms - too slow for short lists
	transition: all 150ms cubic-bezier(.76,.04,.46,.75) 0ms;

	li
	{
		opacity: 0;

		// mitigates list labels overlapping with the underlying text creating a feeling of a mess
		transition: opacity 150ms ease-out;
	}
}

.dropdown-upward .dropdown-item-list
{
	transform-origin: 50% bottom 0px;
}

.dropdown-item-list-expanded
{
	transform: scaleY(1);
	transform-origin: 50% top 0px;

	transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

	li
	{
		opacity: 1;
	}
}

.dropdown-item--selected-in-list
{
	background-color: var(--gray-color-lighter);
}

.dropdown-item-list
{
	> li:first-child
	{
		padding-top    : calc(2 * var(--modular-grid-unit));
	}

	> li:last-child
	{
		padding-bottom : calc(2 * var(--modular-grid-unit));
	}
}

.dropdown-item-selected
{
	padding-top    : var(--input-padding);
	padding-bottom : var(--input-padding);
	margin-bottom  : calc(-1 * var(--input-border-width));

	border: none;
	border-bottom: var(--input-border-width) solid var(--gray-color-light);
	transition: border 0.1s;
}

.dropdown-item-selected-nothing
{
	color: var(--gray-color-darker) !important;
}

.dropdown-item, .dropdown-item-selected
{
	color: inherit;
	font-weight: normal;

	&:active
	{
		color: var(--base-color-darker);
	}
}

.dropdown-expanded .dropdown-item-selected
{
	color: var(--base-color-darker);
}

.dropdown-arrow
{
	color: var(--gray-color);
}

// https://css-tricks.com/three-line-menu-navicon/

// .menu-button
// {
// 	display: none;

// 	&:active
// 	{
// 		.menu-icon:before
// 		{
// 			border-color: $header-text-color-active;
// 		}
// 	}
// }

.language-wrapper
{
	position: absolute;
	top   : 0;
	right : 0;

	height: 100%;

	// centers children vertically
	display     : flex;
	align-items : center;
}

.language
{
	margin-top: 0.1em;
	margin-right: 1.5em;

	.dropdown
	{
		text-align: right !important;
	}

	.dropdown-item-selected
	{
		border: none;
	}
}

// http://tympanus.net/codrops/2013/10/15/animated-checkboxes-and-radio-buttons-with-svg/

.checkbox path
{
	stroke: var(--base-color-darker) !important;
	stroke-width: 0.6em !important;
}

.checkbox input:active + .checkbox-border
{
	border-color: var(--base-color-darker) !important;
}

.checkbox-label:active
{
	color: var(--base-color-darker) !important;
}

.checkbox-invalid .checkbox-border
{
	border-color: var(--error-color) !important;
}

.user-info
{
	display         : flex;
	flex-direction  : row;
	justify-content : center;

	min-height : 100%;
	max-height : 100%;
	height : 100%;

	.sign-out button
	{
		color : var(--black-color);
	}
}

.user-name
{
	// centers <a/> vertically
	display         : flex;
	flex-direction  : column;
	justify-content : center;

	margin-left  : calc(var(--modular-grid-unit) * 1);
	margin-right : calc(var(--modular-grid-unit) * 2);

	margin-top: var(--header-vertically-centered-text-margin-top);
}

header > .nav-widescreen
{
	margin-top: var(--header-vertically-centered-text-margin-top);
}

.user-picture
{
	.spinner
	{
		stroke : var(--white-color);
	}
}

.user-picture--header
{
	border-left: 1px solid var(--base-color-darkest);
}

.user-profile .user-picture
{
	border-radius: var(--border-radius);
}

// .user-profile h1
// {
// }

.sign-in, .sign-out
{
	margin-top   : var(--header-vertically-centered-text-margin-top);
	margin-right : calc(var(--modular-grid-unit));
}

body.javascript-is-enabled .sign-out--fallback
{
	display: none !important;
}

.sign-out-form
{
	// // centers children vertically
	// display         : flex;
	// flex-direction  : column;
	// justify-content : center;

	button
	{
		color: inherit;
	}
}

.user-bar
{
	position: absolute;
	top   : 0;
	right : 0;

	height: 100%;

	// centers children vertically
	display     : flex !important;
	align-items : center;
}

.button-group
{
}

.button-group-button
{
	color            : var(--black-color);
	background-color : transparent;
	border : 0.1em solid var(--base-color-darker);

	&:active
	{
		color            : var(--white-color);
		background-color : var(--base-color);

		transition : none !important;
	}
}

.rich-fallback
{
	// revert the above :active style
	.button-group-button:active
	{
		color            : black;
		background-color : transparent;
	}

	.button-group-button input
	{
		margin-left: 0;
	}
}

.button-group-selected
{
	color            : var(--white-color);
	background-color : var(--base-color-darker);
}

.form__error
{
	margin-top    : calc(var(--modular-grid-unit) * 4);
	margin-bottom : calc(var(--modular-grid-unit) * 4);
	color         : var(--error-color-darker);
}

.form__error-details
{
	color : var(--black-color);
}

.modal-content
{
	.form__error
	{
		margin-bottom : 0;
	}
}

.file-upload
{
	position: relative;
	width: 20em;

	.file-upload-button
	{
		float : left;

		height      : 3rem;
		line-height : 3rem;

		input
		{
			position : absolute;

			top    : 0;
			right  : 0;
			left   : 0;
			bottom : 0;

			width : 100%;

			margin  : 0;
			padding : 0;

			opacity : 0;
		}
	}

	.file-upload-list
	{
		overflow: hidden;
		padding-left: 0.6em;

		input
		{
			width: 100%;
			text-overflow: ellipsis;
		}
	}
}

.checkbox-error-message
{
	padding-top: var(--input-padding);

	color: var(--error-color-darker);
}

.preloading
{
	position: fixed;

	top    : 0;
	left   : 0;
	right  : 0;
	bottom : 0;

	// display: none; // breaks opacity transition
	z-index: -1;

	background-color: rgba(0, 0, 0, 0.1);

	opacity          : 0;
	transition       : opacity 100ms ease-out;
	transition-delay : 0;

	text-align: center;
}

.preloading--shown
{
	z-index : 1;

	opacity : 1;
	cursor  : wait;

	transition-duration : 140ms;
	transition-delay    : 500ms;
}

.preloading-spinner-container
{
	display: inline-block;

	position   : absolute;
	top        : 50%;
	margin-top : -1.17em;

	padding       : 0.35em;
	border-radius : 50%; // 0.5em;

	background: rgba(255, 255, 255, 0.8);

	box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);

    line-height: 0;
}

.preloading .spinner
{
	// 2em x 2em
}

// e.g. <ul/> with errors in `pages/register.js`
.errors
{
	margin-top    : calc(var(--modular-grid-unit) * 6);
	margin-bottom : calc(var(--modular-grid-unit) * 6);

	color      : var(--error-color-darker);
	text-align : center;
}

.error
{
	color : var(--error-color-darker);
}

.user-profile
{
	input[type="text"]
	{
		width: 100%;
	}
}

.user-profile__last-seen
{
	color: var(--gray-color-darker);
}

.user-profile__actions
{
	.button:not(:first-child)
	{
		margin-left: 1em;
	}
}

.user-profile__picture__change__overlay
{
	background-color: var(--black-color);
}

.user-profile__picture
{
	transition: box-shadow 100ms ease-out;
}

.layout--dragging .user-profile__picture
{
	box-shadow: 0 0 0 0.15rem var(--accent-color-lighter);
}

.user-profile__picture__change__droppable-overlay
{
	transition: background-color 100ms ease-out;
}

.user-profile__picture__change__droppable-overlay--can-drop
{
	background-color: var(--accent-color-lighter);
}

.user-profile__picture__change__droppable-overlay--cannot-drop
{
	background-color: var(--error-color);
}

.form-actions
{
	margin-top: 1em;
	text-align: right;
}

.text-input
{
	// "flex" is for the <label/> which goes after the <input/> in markup
	// but is then placed before the <input/> using "order".
	//
	// The reason for this is "input:focus + label" selector,
	// which highlights the <label/> when the input is focused.
	// (there's no CSS selector for "label [before] input:focus")

	display        : flex;
	flex-direction : column;

	// When changing this label color
	// also change "input" and "textarea" placeholder color.

	label
	{
		order : -2;

		margin-top : -0.6em;

		padding-top    : var(--input-padding);
		// padding-bottom : var(--input-padding);

		color : var(--gray-color-dark);

		transform        : scale(0.8) translateY(0.6em);
		transform-origin : left top;
		transition       : color 0.1s ease-out, transform 0.1s ease-out;
		pointer-events   : none;
	}

	// Either label or description
	p
	{
		order: -2;

		margin-top    : 0;
		margin-bottom : 0;
	}

	input, textarea
	{
		order: -1;
	}

	input:focus + label, textarea:focus + label
	{
		color: var(--accent-color);
	}
}

.text-input--invalid
{
	label
	{
		color: var(--error-color-darker);
	}

	.text-input-field
	{
		border-bottom-color: var(--error-color) !important;
	}
}

.text-input--empty
{
	label
	{
		color     : var(--gray-color-darker);
		transform : translateY(1.4em) scale(1);
	}

	input:focus + label, textarea:focus + label
	{
		color: var(--gray-color-darker);
	}
}

.text-input-error-message
{
	padding-top: calc(2 * var(--input-padding));

	color: var(--error-color-darker);
}

.editable-field
{
	margin-bottom: calc(var(--modular-grid-unit) * 4);

	&:last-child
	{
		margin-bottom: 0;
	}

	label
	{
		display       : block;
		margin-bottom : calc(var(--modular-grid-unit) * 0.5);
		opacity       : 0.6;
	}

	.editable-field__button--subsequent
	{
		margin-left: calc(var(--modular-grid-unit) * 2);
	}

	.text-input
	{
		margin-bottom: var(--modular-grid-unit);
	}

	.text-input-field
	{
		padding-top  : 0;
		padding-left : 0;
	}

	p
	{
		margin-top    : calc(var(--modular-grid-unit) * 0.5);
		margin-bottom : var(--modular-grid-unit);

		font-size : 85%;
		color     : var(--gray-color-darker);
		border-left: 0.1em solid var(--gray-color);
		padding-left: 0.4em;
	}
}

.tooltip
{
	color: var(--white-color);
	background: var(--black-color);

	border-radius: var(--border-radius);

	padding-left   : calc(var(--modular-grid-unit) * 2);
	padding-right  : calc(var(--modular-grid-unit) * 2);
	padding-top    : calc(var(--modular-grid-unit) * 1);
	padding-bottom : calc(var(--modular-grid-unit) * 1);
}

.tooltip
{
	margin-top: -0.3em;
	opacity: 0;
	// transform: scale(0.8);
	transform: translateY(0.5em);
}

.tooltip--after-show
{
	opacity: 1;
	// transform: scale(1);
	transform: translateY(0);
}

.tooltip--before-hide
{
	opacity: 0;
	// transform: scale(0.8);
	transform: translateY(0.5em);
}

.tooltip--after-show,
.tooltip--before-hide
{
	transition: opacity 120ms ease-out, transform 120ms ease-out;
}

.snackbar__container
{
	z-index : 1;
}

.snackbar
{
	background : var(--black-color);
	color      : var(--white-color);

	border-top-left-radius  : var(--border-radius);
	border-top-right-radius : var(--border-radius);

	padding-left   : calc(var(--modular-grid-unit) * 3);
	padding-right  : calc(var(--modular-grid-unit) * 3);
	padding-top    : calc(var(--modular-grid-unit) * 2);
	padding-bottom : calc(var(--modular-grid-unit) * 2);
}

.form__actions
{
	margin-top : calc(var(--modular-grid-unit) * 4);
}

.form__actions--right
{
	display         : flex;
	flex-direction  : row;
	justify-content : flex-end;
}

.form__actions--left-right
{
	display         : flex;
	flex-direction  : row;
	justify-content : space-between;
}

.form__field
{
	margin-bottom : calc(var(--modular-grid-unit) * 2);
}