// theming

// https://www.smashingmagazine.com/2016/04/web-developer-guide-color/
// http://paletton.com/

:root
{
	--base-color            : #fa9c20;
	--base-color-lighter    : #FFB24B;
	--base-color-lightest   : #FFC474;
	--base-color-darker     : #D07904;
	--base-color-darkest    : #A45E00;

	--accent-color          : #03B2CB;
	--accent-color-lighter  : #53D5E7;
	--accent-color-lightest : #94EBF7;
	--accent-color-darker   : #018395;
	--accent-color-darkest  : #016674;

	--gray-color-lightest   : #FAF8F6;
	--gray-color-lighter    : #f6f1ec;
	--gray-color-lighter-   : #E8DED3;
	--gray-color-light      : #E0D3C5;
	--gray-color            : #c4bfb8;
	--gray-color-dark       : #B3AA9F;
	--gray-color-darker     : #918d88;

	--black-color           : #4e3d27;

	--white-color        : #ffffff;

	--error-color         : #EB2010;
	--error-color-lighter : #FF1300;
	--error-color-darker  : #D30F00;

	--input-border-width         : 2pt;
	--input-separator-width      : 1pt;
	--input-padding              : 0.15rem;

	--dropdown-item-side-padding : 4; // im modular grid units

	--header-vertically-centered-text-margin-top: 0.1em;

	--border-radius : 3pt;

	--modular-grid-unit : 0.3rem;

	--card-border-radius : 0.2rem;

	--shadow : 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

$extra-large-screen-min-width : 1260pt;
$large-screen-min-width       : 680pt;
$medium-screen-min-width      : 460pt;
$small-screen-min-width       : 320pt;