

.DayPicker
{
	font-size: 20px;
}

.DayPicker__week-header
{
	margin-top: -6px;
	font-size: 24px;
}

.CalendarMonth__caption
{
	position: relative;
	top: -2px;
	font-size: 24px;
}

.DateInput__display-text
{
	font-size: 28px;
}

.SingleDatePicker,
.DateInput__display-text
{
	width: 100%;
}

.SingleDatePickerInput
{
	border: none
}