@font-face
{
	font-family : 'Scada';
	font-style  : normal;
	font-weight : normal;
	src         : local('Scada'),
	              local('Scada-Regular'),
	              url('../fonts/Scada/Scada-Regular.ttf') format('truetype');
}

// @font-face
// {
// 	font-family : 'Scada';
// 	font-style  : italic;
// 	font-weight : 400;
// 	src         : url('../fonts/Scada/Scada-Italic.ttf') format('truetype');
// }

// @font-face
// {
// 	font-family : 'Scada';
// 	font-style  : normal;
// 	font-weight : 700;
// 	src         : url('../fonts/Scada/Scada-Bold.ttf') format('truetype');
// }

// @font-face
// {
// 	font-family : 'Scada';
// 	font-style  : italic;
// 	font-weight : 700;
// 	src         : url('../fonts/Scada/Scada-BoldItalic.ttf') format('truetype');
// }