@import "constants.scss";

.content-section
{
	background-color : var(--white-color);
	border-bottom    : 1px solid var(--gray-color);
}

.content-section--no-padding
{
	// padding : 0;

	.content-section-header
	{
		margin-bottom : 0;
		margin-left   : 0;
		margin-right  : 0;
	}
}

.content-section--busy
{
	cursor: wait;
}

.content-section-header
{
	padding-top      : 0.5em;
	padding-bottom   : 0.45em;
	border-bottom    : 1pt solid var(--gray-color-light);
	font-size        : 1.3rem;
	text-align       : left;
	background-color : var(--gray-color-lightest);
}

.content-section-divider
{
	position         : absolute;
	top              : 0;
	height           : 1pt;
	background-color : var(--gray-color-light);
}

// // This will be replaced with the contents of the mixin
// // when CSS native variables will be supported in all major browsers.
// // http://caniuse.com/#search=css%20var
// @include set_css_variable_header_height(var(--header-height));

.card, .dropdown-item-list--expanded
{
	box-shadow: var(--shadow);
}

header
{
	position : fixed;
	top      : 0;
	left     : 0;
	right    : 0;
	z-index  : 2;

	display        : flex;
	flex-direction : row;
	align-items    : center;

	padding-left  : 1em;
	padding-right : 1em;

	background-color : var(--base-color-darker);

	// border-bottom : 1px solid $header-border-color;
	// box-sizing    : border-box;

	.sign-out--fallback, .button__link, a, .button button, .dropdown-item-selected
	{
		color: var(--white-color);

		&:active
		{
			color: var(--base-color-lightest);
		}
	}

	.logo
	{
		color: var(--white-color);
	}
}

section
{
	background-color : var(--white-color);
}

footer
{
	// can be removed later
	position: relative;

	// border-top: 1px solid $footer-border-color;

	padding-top    : 1.3em;
	padding-bottom : 1.2em;

	padding-left  : 1em;
	padding-right : 1em;

	font-size: 0.8em;

	> div
	{
		text-align: center;
	}
}

.content
{
	flex-grow   : 1;
	flex-shrink : 0;
	flex-basis  : auto;
}

.nav-collapsible
{
	transform  : translate3d(-100%, 0, 0);
	transition : transform 120ms ease-out;
	opacity    : 0.9;
}

.menu-item-selected
{
	color : var(--base-color-lightest);
}

// This technique drops IE10-11 support.
// https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items
// They say it works in Edge though.
//
// Also "100vh" seems to introduce a window resizing bug in Chrome
// when window height is max of all previous window heights.
//
.page
{
	display        : flex;
	flex-direction : column;

    min-height: 100vh;
}

.row
{
	&:after
	{
		content : "";
		display : table;
		clear   : both;
	}
}

.row--content-sections + .row--content-sections
{
	position : relative;
}