// Shows all ".rich" children with the exception
// of ".rich > .rich-fallback" elements
body.javascript-is-enabled
{
	.rich-fallback
	{
		display: none !important;
	}
}

// Shows only ".rich > .rich-fallback" children
// of ".rich" elements
body:not(.javascript-is-enabled)
{
	.rich
	{
		> *:not(.rich-fallback)
		{
			display: none !important;
		}
	}
}