body, button, input, textarea, select
{
	font-size   : 20pt;
}

.language button
{
	font-size   : 18pt;
}

header, .user-picture
{
	min-height : 2.6em;
	max-height : 2.6em;
}

.logo
{
	margin-right: 4em;

	// in firefox there is a bug when it goes invisible for 26pt
	font-size   : 26.03pt;
}

// .page
// {
// 	transform: none !important;
// }

.menu
{
	display: inline-block;

	li
	{
		display: inline-block;
	}

	li:not(:last-child)
	{
		margin-right: 1em;
	}
}

.menu-item
{
	// padding-left    : 0.4em;
	// padding-right   : 0.4em;

	padding-left    : 0.6em;
	padding-right   : 0.6em;

	padding-top    : 0.3em;
	padding-bottom : 0.3em;

	// padding-top : $header-vertically-centered-text-margin-top;

	// border-bottom-width : 0.12em;
	// border-bottom-color : transparent;
	// border-bottom-style : solid;
}

.nav-collapsible
{
	display: none !important;
}

.language
{
	right : 0.5em;
}