body, button, input, textarea, select
{
	font-size   : 20pt;
}

.language button
{
	font-size   : 18pt;
}

header, .user-picture
{
	min-height : 2.6em;
	max-height : 2.6em;
}

.logo
{
	margin-right: 4em;

	// in firefox there is a bug when it goes invisible for 26pt
	font-size   : 26.03pt;
}

.page
{
	transform: none !important;
}

.menu
{
	display: inline-block;
}

.menu-collapsible
{
	display: none;
}

.language
{
	right : 0.5em;
}