body, button, input, textarea, select
{
	font-size : 18pt;
}

$header-height: 1.3em;

header, .user-picture
{
	min-height : 2.3em;
	max-height : 2.3em;
}

.logo
{
	font-size : 22pt
}

.menu-button
{
	padding: 0.4em;
	margin-left: 0.2em;
}

.content
{
	padding-left:  1.2em;
	padding-right: 1.2em;
}

.sign-in
{
	margin-right: 0.6em;
}