@include font-size(16pt);
@include header-height(2.3em);

.logo
{
	font-size : 20pt
}

.content-section
{
	padding : 1.1em;
}

.menu-button
{
	padding: 0.4em;
	margin-left: 0.2em;
}

.sign-in
{
	margin-right: 0.6em;
}

.user-profile .user-picture
{
	width      : 5rem;
	height     : 5rem;
	min-width  : 5rem;
	min-height : 5rem;
}

.authentication
{
	.user-name
	{
		display: flex;
	}
}

.authentication-form, .registration-form
{
	width : 22em;

	h2
	{
		float : left;
	}

	.or-register
	{
		float: right !important;
	    margin-top: 0.42em;
	}
}

.column-m-3-of-12,
.column-m-4-of-12,
.column-m-6-of-12
{
	overflow: visible;
}

.column-m-3-of-12
{
	width: 25%;
}

.column-m-4-of-12
{
	width: 33.33333%;
}

.column-m-6-of-12
{
	width: 50%;
}

.user-profile__actions
{
	.button
	{
		display: block !important;

		&:not(:last-child)
		{
			margin-right: 0;
		}
	}
}

.user-profile__picture__change__label
{
	font-size: 1rem;
}