@include font-size(16pt);
@include header-height(2.2em);

.logo
{
	font-size : 16pt;

	margin-top : $header-vertically-centered-text-margin-top;
}

.menu-button
{
	padding: 0.4em;
}

.language
{
	margin-top: 0.25em;
	margin-right: 0.5em;

	.dropdown-item-icon > img
	{
		width: 1em;
	}
}

.sign-in
{
	margin-right: 0.5em;
}

.content-section
{
	padding : 0.95em;
}

.authentication-form, .registration-form
{
	width : 12.5em;

	h2
	{
		font-size: 1.4em;
	}
}