body, button, input, textarea, select
{
	font-size : 16pt;
}

.logo
{
	font-size : 16pt
}

.menu-button
{
	top  : 0;
	left : 0;
	padding-top: 0.5em;
}

.language
{
	margin-top: 0.25em;
	margin-right: 0.5em;

	.dropdown-item-icon > img
	{
		width: 1em;
	}
}

.sign_in
{
	margin-right: 0.4em;
}

header
{
	padding-top    : 0.4em;
	padding-bottom : 0.4em;

	padding-left  : 0.8em;
	padding-right : 0.8em;
}