.content
{
	padding-left:  0.7em;
	padding-right: 0.7em;
}

.modal-content
{
	padding-left   : 1em !important;
	padding-right  : 1em !important;

	padding-top    : 1em !important;
	padding-bottom : 1em !important;
}

.authentication-form, .registration-form
{
	width : 12em;

	h2, .or-register, .sign-in
	{
		float: none !important;
	}

	h2
	{
		margin-bottom: 0;
	}

	.or-register
	{
		margin-top: 0 !important;
		margin-bottom: 1em;
	}
}

.authentication-form
{
	.button-primary
	{
		display: block !important;
		margin-bottom: 1em;
	}
}

.registration-form
{
	.button-primary
	{
		float: none !important;
		// margin-top: 1em;
	}
}

.text-input
{
	margin-bottom: 0.5em !important;
}