// .language
// {
// 	display: none !important;
// }

input[type="text"], input[type="email"], input[type="password"], textarea, select
{
	width: $input-width-xs;
}

header, .user-picture--header
{
	min-height : 2.0em;
	max-height : 2.0em;
}

.logo
{
	margin-left  : 1.2em;
	margin-right : 1.2em;
	
	margin-top : $header-vertically-centered-text-margin-top;
}

html, body, button, input, textarea, select
{
	font-size : 14pt;
}

.logo
{
	font-size : 14pt
}

.language
{
	// top: 0.35em;
}

.sign-in
{
	margin-right: 0.4em;
}

.authentication-form, .registration-form
{
	width : 12em;

	h2
	{
		font-size: 1.3em;
	}
}

.button-group-button
{
	// padding-top    : 0.2em !important;
	// padding-bottom : 0.2em !important;

	padding-left  : 0.5em !important;
	padding-right : 0.5em !important;
}