.user-profile .user-picture
{
	width      : calc(var(--unit) * 14);
	height     : calc(var(--unit) * 14);
	min-width  : calc(var(--unit) * 14);
	min-height : calc(var(--unit) * 14);
}

.user-profile__picture__change__label
{
	font-size: 0.75rem;
}

.user-profile__last-seen
{
	display     : flex;
	align-items : center;

	margin-top : calc(var(--unit) * 4);
	color : var(--gray-color-darkest);
}

.user-profile__last-seen-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);

	fill : var(--gray-color-darkest);
}

.user-profile__actions
{
	margin-top: calc(var(--unit) * 4);
}

.user-profile__action
{
	.rrui__button__contents
	{
		display     : flex;
		align-items : center;
	}
}

.user-profile__action
{
	height : calc(var(--unit) * 5);
}

.user-profile__action-icon
{
	margin-bottom : var(--icon-liftup);
	margin-right  : var(--icon-right-margin);
	fill : var(--base-color-darker);
	transition : var(--button-icon-transition);
}

.user-profile__action:active
{
	.user-profile__action-icon
	{
		fill : var(--base-color);
	}
}

@include m
{
	.user-profile .user-picture
	{
		width      : calc(var(--unit) * 18);
		height     : calc(var(--unit) * 18);
		min-width  : calc(var(--unit) * 18);
		min-height : calc(var(--unit) * 18);
	}

	.card__actions
	{
		.card__action
		{
			display: block;

			&:not(:first-child)
			{
				margin-left: 0;
			}
		}
	}

	.user-profile__picture__change__label
	{
		font-size: 1rem;
	}
}

@include l
{
	.user-profile
	{
		.rrui__text-input__input
		{
			width: calc(var(--unit) * 50);
		}
	}

	.card__actions
	{
		.card__action
		{
			// overwrites M size settings
			display: inline-block;

			&:not(:first-child)
			{
				margin-left: calc(var(--unit) * 3);
			}
		}
	}
}

@include xl
{
	.user-profile .user-picture
	{
		width      : calc(var(--unit) * 20);
		height     : calc(var(--unit) * 20);
		min-width  : calc(var(--unit) * 20);
		min-height : calc(var(--unit) * 20);
	}
}